@font-face {
  font-family: Cormorant;
  src: url(CormorantGaramond-Regular.ttf);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --dark-color: #4c5c68;
  --muted-color: #e8e9eb;
  --accent-color: rgb(29, 29, 231);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
  margin: 0;
}

input,
button,
select {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

html,
body {
  height: 100%;
  height: 100vh;
  line-height: 1.5;
  overflow-x: hidden;
  background: var(--muted-color);
  font-family: "Cormorant", serif;
}

body.loading {
  overflow: hidden;
}

pre,
code {
  padding: 0.3em;
  background: #ccc;
  border-radius: 5px;
}

.container {
  height: 100%;
}

p,
input,
.section-subtitle {
  font-family: "Corbel", sans-serif;
}

.loader,
.hero-side-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loader {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

body.loading .loader {
  z-index: 10;
  width: 100%;
}

body:not(.loading) .loader div {
  opacity: 0;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.loader div {
  opacity: 1;
  width: 1em;
  height: 1em;
  border-radius: 100px;
  background: #ccccccb8;
  -webkit-animation: loader 0.5s ease-in-out infinite alternate;
  animation: loader 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes loader {
  to {
    -webkit-transform: scale3d(2, 2, 1);
    transform: scale3d(2, 2, 1);
  }
}

@keyframes loader {
  to {
    -webkit-transform: scale3d(2, 2, 1);
    transform: scale3d(2, 2, 1);
  }
}

.hero-side-left {
  height: 90%;
  font-size: 1.7em;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  position: relative;
  text-align: center;
  border-bottom: 1px dashed var(--accent-color);
}

.hero-side-left::before {
  top: 33%;
  left: -10%;
  line-height: 1;
  font-size: 2.7em;
  position: absolute;
  content: attr(title);
  color: rgba(204, 204, 204, 0.274);
}

body:not(.loading) .hero-side-left h1 {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation: text-anim 0.5s ease-in-out;
  animation: text-anim 0.5s ease-in-out;
}

body:not(.loading) .hero-side-left::before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -webkit-animation: transparent-text-anim 0.5s ease-in-out;
  animation: transparent-text-anim 0.5s ease-in-out;
}

.hero-side-left h1 {
  top: 0.5em;
  z-index: 2;
  left: 0.5em;
  color: var(--accent-color);
  position: relative;
}

@-webkit-keyframes text-anim {
  from {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}

@keyframes text-anim {
  from {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}

@-webkit-keyframes transparent-text-anim {
  from {
    opacity: 0.5;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes transparent-text-anim {
  from {
    opacity: 0.5;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
  }
}

body.loading main {
  opacity: 0;
}

main {
  -webkit-transition: 0.5s ease-in-out 0.2s;
  -o-transition: 0.5s ease-in-out 0.2s;
  transition: 0.5s ease-in-out 0.2s;
}

.introduction {
  background: rgba(255, 255, 255, 0.651);
}

.usage,
.install,
.examples,
.introduction {
  padding: 1em;
}

.section-title {
  color: var(--accent-color);
}

.section-subtitle {
  color: var(--dark-color);
}

.install .process > * + * {
  margin-top: 1em;
}

.example {
  margin: 1em 0;
}

.example > * + * {
  margin-top: 1em;
}

.grid-example .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.controls * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 1em;
  border-bottom: 1px solid var(--accent-color);
}

.grid-example .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid .item {
  width: 5em;
  height: 5em;
  padding: 1em;
  margin: 0.5em;
  background: #fff;
  border-radius: 5px;
}

.item.remove {
  opacity: 0;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale3d(1, 0, 0);
  transform: scale3d(1, 0, 0);
}

.grid-example > * + * {
  margin-top: 1em;
}

.buttons-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons-example button {
  text-align: left;
  white-space: nowrap;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.actions * + *,
.controls * + *,
.buttons-example > * + * {
  margin-left: 1em;
}

.actions button,
.buttons-example button {
  color: #fff;
  background: var(--accent-color);
  padding: 0.5em 1em;
  border-radius: 4px;
}

footer {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer * + * {
  margin-left: 0.4em;
}

footer .social a {
  text-decoration: none;
}

@supports ((display: -ms-grid) or (display: grid)) {
  .grid-example .controls {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .controls * + * {
    margin-left: 0;
  }

  .grid-example .grid {
    grid-gap: 1em;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-example .grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-example .grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .grid-example .grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .grid-example .grid > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }

  .grid .item {
    margin: 0;
    width: auto;
  }
}

@media (hover: hover) {
  .hero-side-left {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    position: fixed;
    border-bottom: none;
    border-right: 1px dashed var(--accent-color);
  }

  .hero-side-left::before {
    font-size: 4em;
  }

  .loader {
    width: 50%;
  }

  main {
    width: 50%;
    margin-left: 50.5%;
  }
}
